* { box-sizing: border-box; }

.ControlPanel {
  background: #fbfbfb;
  padding: 1em 0;
  font-size: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-control {
  width: 100%;
  padding: 0 1.5em;
  margin-bottom: 1.5em;
}

input {
  width: 100%;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  padding: 0.5em 0.75em 0.4em;
}

input:focus {
  border-color: #aaa;
}
